<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Management</title>
    <div th:replace="~{fragments::page_head(${pageTitle}, 'tag')}"></div>
</head>
<body>

<div class="container mt-5">
    <h2>Edit Article</h2>
    <form th:action="@{/article/save}" th:object="${article}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input type="text" th:field="*{title}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Content:</label>
            <textarea  th:field="*{content}" class="form-control" rows="6" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a th:href="@{/articles}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script th:src="@{/js/rich_text.js}"></script>

</body>
</html>
