<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<div th:replace="~{fragments::page_head(${pageTitle}, 'none')}"></div>


<body>
<div class="container-fluid">
    <div>
        <!-- Navbar -->
        <div th:replace="~{navigation:: navbar}">
        </div>

        <!-- Page Header -->
        <h2 class="text-center mb-4">Manage Categories | [[${pageTitle}]]</h2>
        <form th:action="@{/categories/save}" method="post" style="max-width: 700px; margin:0 auto"
              enctype="multipart/form-data"
              th:object="${category}">
            <input type="hidden" th:field="*{id}"/>
            <div class="border border-secondary rounded p-4">

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Category Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{name}" required minlength="3"
                               maxlength="128" id="name"/>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Alias: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{alias}" required minlength="2"
                               maxlength="20"/>
                    </div>
                </div>

                <!-- Last Name -->


                <div class="form-group row mb-4">
                    <label class="col-sm-4 col-form-label">Image</label>
                    <div class="col-sm-8 pt-2">
                        <input type="hidden" th:field="*{image}">
                        <input type="file" id="fileImage" accept="image/png ,image/jpeg" name="fileImage" class="mb-2"/>
                        <img id="thumbnail" alt="image-preview" th:src="@{/images/image_thumbnail.png}" class="img-fluid"/>
                    </div>
                </div>

                <div class="form-group row mb-4">
                    <label class="col-sm-4 col-form-label">Enabled</label>
                    <div class="col-sm-8 pt-2">
                        <input type="checkbox" th:field="*{enabled}">
                    </div>
                </div>

                <!-- Buttons -->
                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary me-2"/>
                    <a th:href="@{/categories}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modalDialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Warning</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <div th:replace="~{fragments::footer}"></div>

    </div></div>

<script type="text/javascript">

   moduleURL="[[@{/categories}]]";
</script>
<script th:src="@{/js/common_form.js}"></script>


</body>
</html>
